*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 91.25em) {
    html {
      font-size: 55%; } }

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: #282828; }

.float-box {
  position: fixed;
  top: 85vh;
  right: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.float-button {
  color: #282828;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  display: inline-flex; }
  .float-button__utility {
    display: inline-block;
    border: none;
    outline: none; }
    .float-button__utility:focus {
      outline: none; }
  .float-button__left {
    background-color: #FFE33F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem 0.9rem;
    font-weight: 700;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; }
  .float-button__right {
    background-color: #c4c4c4;
    padding: 1rem 0.7rem;
    font-weight: 400;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px; }

.float-text {
  font-size: 1.2rem;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.5; }

.card-item {
  background-color: #EBECF0;
  padding: 1.8rem 1.1rem;
  border-radius: 1rem;
  opacity: 0.67; }
  .card-item--1 {
    background-color: #000000; }
  .card-item--2 {
    opacity: 100%; }
  .card-item--7 {
    background-color: #FFE33F; }

.card__time {
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: space-between; }

.card__day {
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #282828; }
  .card__day--1 {
    color: #FFE33F; }

.card__date {
  font-weight: 400;
  font-size: 1.2rem;
  color: #000000; }
  .card__date--2 {
    color: #282828; }

.card__task {
  margin-bottom: 1.2rem;
  font-weight: 400;
  font-size: 1rem;
  color: #000000; }
  .card__task--1 {
    color: #282828; }
  .card__task::after {
    content: "";
    display: block;
    margin-top: 1.2rem;
    height: 1px;
    width: 100%;
    background-color: #000000;
    opacity: 0.05; }

.card__search-box {
  display: flex;
  justify-content: space-between; }

.card__search {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  background-color: #ffffff; }
  .card__search-input {
    width: 80%;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: capitalize;
    border: none;
    background-color: transparent; }
    .card__search-input:focus {
      outline: none; }
  .card__search-button {
    width: 20%;
    border: none;
    background-color: transparent; }
    .card__search-button img {
      height: 1.4rem;
      width: 1.4rem; }
    .card__search-button:focus {
      outline: none; }

.card__sort-button {
  margin-left: 1rem;
  width: 20%;
  border: none;
  border-radius: 4px;
  padding: 0.9rem 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center; }
  .card__sort-button:focus {
    outline: none; }
  .card__sort-button-img-box img {
    display: block; }
  .card__sort-button-img-box--2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .card__sort-button-img--2 {
    margin-top: 2px; }

.card__status {
  margin-top: 1.2rem;
  font-weight: 700;
  font-size: 1.2rem;
  color: #282828; }

.card__workflows {
  height: 10rem;
  margin-top: 1.2rem;
  padding: 1.2rem 1.6rem;
  border-radius: 4px;
  background-color: #ffffff; }
  .card__workflows-top::after {
    content: "";
    display: block;
    margin: 1rem 0;
    height: 1px;
    width: 100%;
    background-color: #000000;
    opacity: 5%; }
  .card__workflows-top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .card__workflows-top-left {
    text-transform: capitalize;
    letter-spacing: -0.08px;
    line-height: 1.8rem; }
  .card__workflows-top-heading {
    font-weight: 700;
    font-size: 1.2rem; }
  .card__workflows-top-date {
    font-weight: 400;
    font-size: 1rem; }
  .card__workflows-top-right {
    height: 1.4rem;
    width: 1.4rem; }
  .card__workflows-top-img {
    width: 100%; }
  .card__workflows-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .card__workflows-bottom-text {
      font-weight: 400;
      letter-spacing: -0.08px;
      text-align: right; }
      .card__workflows-bottom-text--1 {
        font-size: 1rem; }
      .card__workflows-bottom-text--2 {
        font-size: 1.2rem; }
  .card__workflows-btn-primary:link, .card__workflows-btn-primary:visited {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #ffffff;
    background-color: #5FD855;
    border-radius: 4px;
    text-decoration: none; }
  .card__workflows-btn-secondary:link, .card__workflows-btn-secondary:visited {
    background-color: #E73948; }

.card__cta-button {
  display: block;
  margin-top: 1.2rem;
  width: 100%;
  padding: 0.7rem 0;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  color: #000000;
  font-weight: 700;
  font-size: 1.2rem; }
  .card__cta-button:focus {
    outline: none; }

.container {
  max-width: 186rem;
  margin: auto;
  padding-top: 4.4rem;
  display: grid;
  grid-template-rows: repeat(2, min-content); }
  @media only screen and (max-width: 78.125em) {
    .container {
      padding: 0; } }

.header {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: min-content;
  align-items: center; }
  @media only screen and (max-width: 78.125em) {
    .header {
      grid-template-columns: 85% 15%; } }
  .header__nav {
    background-color: #fcfcfc;
    border-radius: 4px;
    margin-left: 3rem; }
    @media only screen and (max-width: 78.125em) {
      .header__nav {
        border-radius: unset;
        margin-left: 0; } }
  .header__logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 9rem; }
    @media only screen and (max-width: 105em) {
      .header__logo {
        padding-right: 7rem; } }
    @media only screen and (max-width: 78.125em) {
      .header__logo {
        padding-right: 2rem; } }
    .header__logo-box {
      max-width: 13.4rem;
      max-height: 9.1rem; }
      @media only screen and (max-width: 105em) {
        .header__logo-box {
          max-width: 12rem;
          max-height: 8rem; } }
      @media only screen and (max-width: 91.25em) {
        .header__logo-box {
          max-width: 10rem;
          max-height: 8rem; } }
      @media only screen and (max-width: 78.125em) {
        .header__logo-box {
          max-width: 8rem; } }
    .header__logo-img {
      width: 100%;
      height: 100%; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 2.4rem; }
  @media only screen and (max-width: 91.25em) {
    .navigation {
      padding: 1rem 2rem; } }
  .navigation__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navigation__item {
    display: flex;
    justify-content: center;
    align-items: center; }
    .navigation__item::after {
      content: "";
      display: inline-block;
      height: 8.3rem;
      width: 1px;
      background-color: #000000;
      opacity: 0.1; }
      @media only screen and (max-width: 91.25em) {
        .navigation__item::after {
          height: 7rem; } }
  .navigation__profile {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .navigation__profile-img {
      max-width: 6rem;
      max-height: 6rem; }
      @media only screen and (max-width: 91.25em) {
        .navigation__profile-img {
          max-width: 5rem;
          max-height: 5rem; } }
      .navigation__profile-img img {
        width: 100%;
        border-radius: 50%; }
    .navigation__profile-details {
      padding: 0 3.4rem 0 1.8rem;
      color: #282828; }
      @media only screen and (max-width: 105em) {
        .navigation__profile-details {
          padding-right: 2rem; } }
      @media only screen and (max-width: 105em) {
        .navigation__profile-details {
          padding-left: 1.3rem; } }
    .navigation__profile-heading {
      font-size: 1.4rem;
      font-weight: 700;
      text-transform: capitalize;
      margin-bottom: 0.6rem; }
      @media only screen and (max-width: 105em) {
        .navigation__profile-heading {
          font-size: 1.2rem;
          margin-bottom: 0.3rem; } }
    .navigation__profile-title {
      font-size: 1.2rem;
      font-weight: 400;
      opacity: 0.5; }
      @media only screen and (max-width: 105em) {
        .navigation__profile-title {
          font-size: 1rem; } }
  .navigation__schedule {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .navigation__schedule--1 {
      padding: 0 1.9rem 0 2.5rem; }
      @media only screen and (max-width: 105em) {
        .navigation__schedule--1 {
          padding: 0 1.5rem 0 2rem; } }
      @media only screen and (max-width: 78.125em) {
        .navigation__schedule--1 {
          padding: 0 1.5rem; } }
    .navigation__schedule--2 {
      padding: 0 3.3rem; }
      @media only screen and (max-width: 105em) {
        .navigation__schedule--2 {
          padding: 0 2rem; } }
      @media only screen and (max-width: 78.125em) {
        .navigation__schedule--2 {
          padding: 0 1.5rem; } }
    .navigation__schedule--3 {
      padding: 0 4.5rem 0 3.3rem; }
      @media only screen and (max-width: 105em) {
        .navigation__schedule--3 {
          padding: 0 2rem; } }
      @media only screen and (max-width: 78.125em) {
        .navigation__schedule--3 {
          padding: 0 1.5rem; } }
    .navigation__schedule-details--modifier {
      padding-right: 3.2rem; }
      @media only screen and (max-width: 105em) {
        .navigation__schedule-details--modifier {
          padding-right: 1.2rem; } }
    .navigation__schedule-heading {
      font-size: 2.4rem;
      font-weight: 700;
      color: #1f1f1f;
      margin-bottom: 0.5rem; }
      @media only screen and (max-width: 105em) {
        .navigation__schedule-heading {
          font-size: 2rem; } }
      @media only screen and (max-width: 91.25em) {
        .navigation__schedule-heading {
          font-size: 1.8rem;
          margin-bottom: 0.3rem; } }
      @media only screen and (max-width: 78.125em) {
        .navigation__schedule-heading {
          font-size: 1.5rem; } }
    .navigation__schedule-title {
      font-size: 1.2rem;
      font-weight: 400;
      text-transform: capitalize;
      color: #000000;
      opacity: 0.5; }
      @media only screen and (max-width: 105em) {
        .navigation__schedule-title {
          font-size: 1rem; } }
    .navigation__schedule-img {
      max-height: 2.5rem;
      max-width: 2.5rem; }
      .navigation__schedule-img img {
        width: 100%;
        height: 100%; }
  .navigation__search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5.5rem 0 5rem; }
    @media only screen and (max-width: 105em) {
      .navigation__search {
        padding: 0 3.5rem; } }
    @media only screen and (max-width: 91.25em) {
      .navigation__search {
        padding: 0 2.7rem; } }
    @media only screen and (max-width: 78.125em) {
      .navigation__search {
        padding: 0 2rem; } }
    .navigation__search-img {
      max-width: 3.1rem;
      max-height: 3.2rem; }
      @media only screen and (max-width: 91.25em) {
        .navigation__search-img {
          max-width: 2.6rem;
          max-height: 2.6rem; } }
      .navigation__search-img img {
        width: 100%;
        height: 100%; }
  .navigation__btn {
    display: inline-block;
    border: none;
    border-radius: 4px;
    padding: 1.4rem 5.5rem;
    background-color: #282828;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: capitalize;
    color: #fcfcfc; }
    @media only screen and (max-width: 105em) {
      .navigation__btn {
        padding: 1.4rem 5rem; } }
    @media only screen and (max-width: 91.25em) {
      .navigation__btn {
        padding: 1.2rem 4rem;
        font-size: 1.2rem; } }
    @media only screen and (max-width: 78.125em) {
      .navigation__btn {
        padding: 1.1rem 3.5rem; } }

.main-content {
  margin-top: 3rem;
  overflow: auto;
  white-space: nowrap; }

.card-box {
  display: grid;
  grid-template-columns: repeat(7, minmax(27rem, 1fr));
  grid-gap: 2.6rem;
  align-items: start;
  margin-left: 3rem; }
  @media only screen and (max-width: 91.25em) {
    .card-box {
      grid-template-columns: repeat(7, minmax(26rem, 1fr)); } }
