*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: #282828; }

.card-item {
  height: 41rem;
  background-color: #EBECF0;
  padding: 1.8rem 1.1rem;
  border-radius: 1rem; }

.card__time {
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: space-between; }

.card__day {
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #282828; }

.card__date {
  font-weight: 400;
  font-size: 1.2rem;
  color: #000000; }

.card__task {
  margin-bottom: 1.2rem;
  font-weight: 400;
  font-size: 1rem;
  color: #000000; }
  .card__task::after {
    content: "";
    display: block;
    margin-top: 1.2rem;
    height: 1px;
    width: 100%;
    background-color: #000000;
    opacity: 0.05; }

.card__search-box {
  display: flex;
  justify-content: space-between; }

.card__search {
  flex: 0 0 65%;
  display: flex;
  justify-content: space-between; }
  .card__search-input {
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.7rem 0;
    border: none;
    border-radius: 4px;
    background-color: #ffffff; }
    .card__search-input:focus {
      outline: none; }
  .card__search-button {
    border: none;
    border-radius: 4px;
    padding: 0.7rem 1.3rem .7rem 1.2rem;
    background-color: #ffffff; }
    .card__search-button img {
      height: 1.5rem;
      width: 1.5rem; }
    .card__search-button:focus {
      outline: none; }

.card__sort-button {
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex: 0 0 15%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .card__sort-button:focus {
    outline: none; }
  .card__sort-button-img-box img {
    display: block; }
  .card__sort-button-img-box--2 {
    display: flex;
    justify-content: center;
    align-items: center; }

.container {
  max-width: 168rem;
  margin: auto;
  padding: 4.5rem 3rem 0 3rem;
  display: grid;
  grid-template-rows: 10.5rem min-content; }

.header {
  background-color: goldenrod;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 80% 20%; }
  .header__logo {
    margin-left: 10rem; }

.main-content {
  margin-top: 3rem; }

.card-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: 2.6rem; }
