*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 91.25em) {
    html {
      font-size: 55%; } }

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: #282828;
  position: relative; }

.float-box {
  position: fixed;
  top: 85vh;
  right: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.float-button {
  color: #282828;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  display: inline-flex; }
  .float-button__utility {
    display: inline-block;
    border: none;
    outline: none; }
    .float-button__utility:focus {
      outline: none; }
  .float-button__left {
    background-color: #ffe33f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem 0.9rem;
    font-weight: 700;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; }
  .float-button__right {
    background-color: #c4c4c4;
    padding: 1rem 0.7rem;
    font-weight: 400;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px; }

.float-text {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5); }

.card-item {
  background-color: #ebecf0;
  padding: 1.8rem 1.1rem;
  border-radius: 1rem;
  opacity: 0.4;
  position: relative;
  transition: opacity 0.5s ease; }
  .card-item--1 {
    background-color: #000000; }
  .card-item--2 {
    opacity: 100%; }
  .card-item--4 {
    position: relative;
    transition: opacity 0.5s ease; }
  .card-item--7 {
    background-color: #ffe33f; }

.card-modifier--1 {
  position: static; }

.card-modifier--2 {
  position: absolute;
  top: 1.8rem;
  left: 1.1rem;
  right: 1.1rem;
  bottom: 1.8rem;
  opacity: 0; }

.card-modifier--3 {
  display: none;
  opacity: 0; }

.card-illumination:hover {
  opacity: 100%; }

.card-illumination:hover .card-modifier--1 {
  opacity: 0;
  position: absolute;
  top: 1.8rem;
  left: 1.1rem;
  right: 1.1rem;
  bottom: 1.8rem;
  z-index: 100; }

.card-illumination:hover .card-modifier--2 {
  opacity: 100%;
  z-index: 200; }

.card-illumination:hover .card-modifier--3 {
  display: block; }

.card__time {
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: space-between; }

.card__day {
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #282828; }
  .card__day--1 {
    color: #ffe33f; }

.card__date {
  font-weight: 400;
  font-size: 1.2rem;
  color: #000000; }
  .card__date--2 {
    color: #282828; }

.card__task {
  margin-bottom: 1.2rem;
  font-weight: 400;
  font-size: 1rem;
  color: #000000; }
  .card__task--1 {
    color: #282828; }
  .card__task::after {
    content: "";
    display: block;
    margin-top: 1.2rem;
    height: 1px;
    width: 100%;
    background-color: #000000;
    opacity: 0.05; }

.card__search-box {
  display: flex;
  justify-content: space-between;
  position: relative; }

.card__search {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  background-color: #ffffff; }
  .card__search-input {
    width: 80%;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: capitalize;
    border: none;
    background-color: transparent; }
    .card__search-input:focus {
      outline: none; }
  .card__search-button {
    width: 20%;
    border: none;
    background-color: transparent; }
    .card__search-button img {
      height: 1.4rem;
      width: 1.4rem; }
    .card__search-button:focus {
      outline: none; }

.card__sort-button {
  margin-left: 1rem;
  width: 20%;
  border: none;
  border-radius: 4px;
  padding: 0.9rem 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }
  .card__sort-button:focus {
    outline: none; }
  .card__sort-button-img-box img {
    display: block; }
  .card__sort-button-img-box--2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .card__sort-button-img--2 {
    margin-top: 2px; }

.card__status {
  margin-top: 1.2rem;
  font-weight: 700;
  font-size: 1.2rem;
  color: #282828; }

.card__workflows {
  height: 10rem;
  margin-top: 1.2rem;
  padding: 1.2rem 1.6rem;
  border-radius: 4px;
  background-color: #ffffff;
  position: relative; }
  .card__workflows--1 {
    cursor: pointer; }
  .card__workflows-top::after {
    content: "";
    display: block;
    margin: 1rem 0;
    height: 1px;
    width: 100%;
    background-color: #000000;
    opacity: 5%; }
  .card__workflows-top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .card__workflows-top-left {
    text-transform: capitalize;
    letter-spacing: -0.08px;
    line-height: 1.8rem; }
  .card__workflows-top-heading {
    font-weight: 700;
    font-size: 1.2rem; }
  .card__workflows-top-date {
    font-weight: 400;
    font-size: 1rem; }
  .card__workflows-top-right {
    height: 1.4rem;
    width: 1.4rem; }
  .card__workflows-top-img {
    width: 100%; }
  .card__workflows-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .card__workflows-bottom-text {
      font-weight: 400;
      letter-spacing: -0.08px;
      text-align: right; }
      .card__workflows-bottom-text--1 {
        font-size: 1rem; }
      .card__workflows-bottom-text--2 {
        font-size: 1.2rem; }
  .card__workflows-btn-primary:link, .card__workflows-btn-primary:visited {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #ffffff;
    background-color: #5fd855;
    border-radius: 4px;
    text-decoration: none; }
  .card__workflows-btn-secondary:link, .card__workflows-btn-secondary:visited {
    background-color: #e73948; }

.card__cta-button {
  display: block;
  margin-top: 1.2rem;
  width: 100%;
  padding: 0.7rem 0;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  color: #000000;
  font-weight: 700;
  font-size: 1.2rem; }
  .card__cta-button:focus {
    outline: none; }

.container {
  max-width: 186rem;
  margin: auto;
  padding-top: 4.4rem;
  display: grid;
  grid-template-rows: repeat(2, min-content); }
  @media only screen and (max-width: 78.125em) {
    .container {
      padding: 0; } }

.header {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: min-content;
  align-items: center; }
  @media only screen and (max-width: 78.125em) {
    .header {
      grid-template-columns: 85% 15%; } }
  .header__nav {
    background-color: #fcfcfc;
    border-radius: 4px;
    margin-left: 3rem; }
    @media only screen and (max-width: 78.125em) {
      .header__nav {
        border-radius: unset;
        margin-left: 0; } }
  .header__logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 9rem; }
    @media only screen and (max-width: 105em) {
      .header__logo {
        padding-right: 7rem; } }
    @media only screen and (max-width: 78.125em) {
      .header__logo {
        padding-right: 2rem; } }
    .header__logo-box {
      max-width: 13.4rem;
      max-height: 9.1rem; }
      @media only screen and (max-width: 105em) {
        .header__logo-box {
          max-width: 12rem;
          max-height: 8rem; } }
      @media only screen and (max-width: 91.25em) {
        .header__logo-box {
          max-width: 10rem;
          max-height: 8rem; } }
      @media only screen and (max-width: 78.125em) {
        .header__logo-box {
          max-width: 8rem; } }
    .header__logo-img {
      width: 100%;
      height: 100%; }
      .header__logo-img--2 {
        display: none; }

.main-content {
  margin-top: 3rem;
  overflow: auto;
  white-space: nowrap; }

.card-box {
  display: grid;
  grid-template-columns: repeat(7, minmax(27rem, 1fr));
  grid-gap: 2.6rem;
  align-items: start;
  margin-left: 3rem; }
  @media only screen and (max-width: 91.25em) {
    .card-box {
      grid-template-columns: repeat(7, minmax(26rem, 1fr)); } }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 2.4rem; }
  @media only screen and (max-width: 91.25em) {
    .navigation {
      padding: 1rem 2rem; } }
  .navigation__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navigation__item {
    display: flex;
    justify-content: center;
    align-items: center; }
    .navigation__item--5 {
      cursor: pointer; }
    .navigation__item::after {
      content: "";
      display: inline-block;
      height: 8.3rem;
      width: 1px;
      background-color: #000000;
      opacity: 0.1; }
      @media only screen and (max-width: 91.25em) {
        .navigation__item::after {
          height: 7rem; } }
  .navigation__profile {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .navigation__profile-img {
      max-width: 6rem;
      max-height: 6rem; }
      @media only screen and (max-width: 91.25em) {
        .navigation__profile-img {
          max-width: 5rem;
          max-height: 5rem; } }
      .navigation__profile-img img {
        width: 100%;
        border-radius: 50%; }
    .navigation__profile-details {
      padding: 0 3.4rem 0 1.8rem;
      color: #282828; }
      @media only screen and (max-width: 105em) {
        .navigation__profile-details {
          padding-right: 2rem; } }
      @media only screen and (max-width: 105em) {
        .navigation__profile-details {
          padding-left: 1.3rem; } }
    .navigation__profile-heading {
      font-size: 1.4rem;
      font-weight: 700;
      text-transform: capitalize;
      margin-bottom: 0.6rem; }
      @media only screen and (max-width: 105em) {
        .navigation__profile-heading {
          font-size: 1.2rem;
          margin-bottom: 0.3rem; } }
    .navigation__profile-title {
      font-size: 1.2rem;
      font-weight: 400;
      opacity: 0.5; }
      @media only screen and (max-width: 105em) {
        .navigation__profile-title {
          font-size: 1rem; } }
  .navigation__schedule {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .navigation__schedule--1 {
      padding: 0 1.9rem 0 2.5rem; }
      @media only screen and (max-width: 105em) {
        .navigation__schedule--1 {
          padding: 0 1.5rem 0 2rem; } }
      @media only screen and (max-width: 78.125em) {
        .navigation__schedule--1 {
          padding: 0 1.5rem; } }
    .navigation__schedule--2 {
      padding: 0 3.3rem; }
      @media only screen and (max-width: 105em) {
        .navigation__schedule--2 {
          padding: 0 2rem; } }
      @media only screen and (max-width: 78.125em) {
        .navigation__schedule--2 {
          padding: 0 1.5rem; } }
    .navigation__schedule--3 {
      padding: 0 4.5rem 0 3.3rem; }
      @media only screen and (max-width: 105em) {
        .navigation__schedule--3 {
          padding: 0 2rem; } }
      @media only screen and (max-width: 78.125em) {
        .navigation__schedule--3 {
          padding: 0 1.5rem; } }
    .navigation__schedule-details--modifier {
      padding-right: 3.2rem; }
      @media only screen and (max-width: 105em) {
        .navigation__schedule-details--modifier {
          padding-right: 1.2rem; } }
    .navigation__schedule-heading {
      font-size: 2.4rem;
      font-weight: 700;
      color: #1f1f1f;
      margin-bottom: 0.5rem; }
      @media only screen and (max-width: 105em) {
        .navigation__schedule-heading {
          font-size: 2rem; } }
      @media only screen and (max-width: 91.25em) {
        .navigation__schedule-heading {
          font-size: 1.8rem;
          margin-bottom: 0.3rem; } }
      @media only screen and (max-width: 78.125em) {
        .navigation__schedule-heading {
          font-size: 1.5rem; } }
    .navigation__schedule-title {
      font-size: 1.2rem;
      font-weight: 400;
      text-transform: capitalize;
      color: #000000;
      opacity: 0.5; }
      @media only screen and (max-width: 105em) {
        .navigation__schedule-title {
          font-size: 1rem; } }
    .navigation__schedule-img {
      max-height: 2.5rem;
      max-width: 2.5rem; }
      .navigation__schedule-img img {
        width: 100%;
        height: 100%; }
  .navigation__search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5.5rem 0 5rem; }
    @media only screen and (max-width: 105em) {
      .navigation__search {
        padding: 0 3.5rem; } }
    @media only screen and (max-width: 91.25em) {
      .navigation__search {
        padding: 0 2.7rem; } }
    @media only screen and (max-width: 78.125em) {
      .navigation__search {
        padding: 0 2rem; } }
    .navigation__search-img {
      max-width: 3.1rem;
      max-height: 3.2rem; }
      @media only screen and (max-width: 91.25em) {
        .navigation__search-img {
          max-width: 2.6rem;
          max-height: 2.6rem; } }
      .navigation__search-img img {
        width: 100%;
        height: 100%; }
  .navigation__btn {
    display: inline-block;
    border: none;
    border-radius: 4px;
    padding: 1.4rem 5.5rem;
    background-color: #282828;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: capitalize;
    color: #fcfcfc;
    cursor: pointer; }
    .navigation__btn:focus {
      outline: none; }
    @media only screen and (max-width: 105em) {
      .navigation__btn {
        padding: 1.4rem 5rem; } }
    @media only screen and (max-width: 91.25em) {
      .navigation__btn {
        padding: 1.2rem 4rem;
        font-size: 1.2rem; } }
    @media only screen and (max-width: 78.125em) {
      .navigation__btn {
        padding: 1.1rem 3.5rem; } }

.modal-top-layer {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); }

.nav-search-modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(0);
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden; }
  .nav-search-modal__close {
    color: #ffffff;
    position: absolute;
    right: 2rem;
    top: 0.7rem;
    font-size: 28px;
    font-weight: bold; }
    .nav-search-modal__close:hover, .nav-search-modal__close:focus {
      color: #ffe33f;
      text-decoration: none;
      cursor: pointer; }

.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.modal-search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100rem;
  padding: 2rem 0 2rem 4rem;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px; }
  .modal-search__button {
    border: none;
    background-color: transparent;
    width: 3rem;
    height: 3rem; }
    .modal-search__button img {
      width: 100%; }
    .modal-search__button:focus {
      outline: none; }
  .modal-search__input {
    border: none;
    width: 33%;
    display: block;
    padding-left: 2.9rem;
    color: #282828;
    font-family: inherit;
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: capitalize;
    opacity: 0.6; }
    .modal-search__input:focus {
      outline: none; }
  .modal-search__loader {
    display: flex;
    transform-origin: bottom center; }
    .modal-search__loader-circle {
      height: 1.2rem;
      width: 1.2rem;
      margin-right: 5px;
      background-color: #282828;
      opacity: 0.6;
      transform: scale(0.5);
      animation: grow 1.5s linear infinite; }
      .modal-search__loader-circle:nth-child(2) {
        animation-delay: 0.75s; }
      .modal-search__loader-circle:nth-child(3) {
        animation-delay: 0.375s; }

@keyframes grow {
  50% {
    transform: scale(1); } }

.card__sort-button-modal {
  display: none;
  background-color: #ffffff;
  padding: 1.4rem 1rem 3rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  max-width: 23rem;
  border-radius: 4px;
  position: absolute;
  left: 0;
  opacity: 100%;
  z-index: 1000; }

.sort-button-modal-list {
  list-style: none; }

.sort-button-modal-item {
  color: #282828;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 1.2rem; }
  .sort-button-modal-item:not(:last-child)::after {
    content: "";
    display: block;
    margin-top: 1.2rem;
    height: 1px;
    width: 21rem;
    opacity: 0.05;
    background-color: #000000; }
  .sort-button-modal-item--1 {
    font-weight: 700;
    font-size: 1.4rem; }

.card__workflows-modal {
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 1.2rem 1rem 1.9rem;
  position: absolute;
  left: 100%;
  top: 0;
  opacity: 100%;
  z-index: 1000;
  display: none; }

.workflows-modal__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  letter-spacing: -0.08px;
  color: #161616;
  line-height: 1.8rem; }
  .workflows-modal__heading::after {
    content: "";
    display: block;
    width: 21rem;
    height: 1px;
    margin-top: 1.2rem;
    margin-bottom: 1.4rem;
    background-color: #000000;
    opacity: 0.05; }

.workflows-modal__header {
  font-weight: 700;
  font-size: 1.2rem; }

.workflows-modal__date {
  font-weight: 400;
  font-size: 1rem; }

.workflows-modal__title {
  margin-bottom: 1.5rem;
  padding-left: 0.7rem;
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: capitalize;
  color: #282828; }

.workflows-modal__grid-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 0.9rem;
  grid-column-gap: 0.6rem; }

.workflows-modal__hr {
  content: "";
  display: block;
  width: 21rem;
  height: 1px;
  margin-top: 1.8rem;
  margin-bottom: 0.8rem;
  background-color: #000000;
  opacity: 0.05; }

.workflows-modal__status-btn {
  border-radius: 4px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  color: #161616;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400; }
  .workflows-modal__status-btn:focus {
    outline: none; }
  .workflows-modal__status-btn--1 {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    border: 1px solid #000000;
    background-color: #ffe33f;
    padding: 0.8rem 2.5rem;
    font-weight: 700;
    font-size: 1.2rem; }
  .workflows-modal__status-btn--2 {
    grid-row: 1 / 2;
    grid-column: 3 / 5;
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
  .workflows-modal__status-btn--3 {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    padding-left: 1.2rem;
    padding-right: 2rem; }
  .workflows-modal__status-btn--4 {
    grid-row: 2 / 3;
    grid-column: 3 / 5;
    padding-left: 1.4rem;
    padding-right: 1.1rem; }
  .workflows-modal__status-btn--5 {
    grid-row: 3 / 4;
    grid-column: 1 / 5;
    justify-content: flex-start;
    padding-left: 1.6rem; }
  .workflows-modal__status-btn--6 {
    grid-row: 4 / 5;
    grid-column: 2 / 4;
    padding-left: 1.5rem;
    padding-right: 1.5rem; }

.workflows-modal__block-img-box--1 {
  height: 1.4rem;
  width: 1.4rem; }
  .workflows-modal__block-img-box--1 img {
    width: 100%;
    height: 100%; }

.workflows-modal__block-img-box--2 {
  width: 1rem; }
  .workflows-modal__block-img-box--2 img {
    width: 100%;
    height: 100%; }

.workflows-modal__block-img-box--3 {
  width: 1rem; }
  .workflows-modal__block-img-box--3 img {
    width: 100%; }

.workflows-modal__block-img-box--4 {
  display: flex;
  justify-content: flex-start;
  margin-right: 1.9rem; }
  .workflows-modal__block-img-box--4 img {
    width: 0.7rem; }

.workflows-modal__grid-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3.5rem;
  grid-row-gap: 1.4rem; }

.workflows-modal__hours-estimation {
  grid-column: 1 / 2; }

.workflows-modal__hours-require {
  grid-column: 2 / 3; }

.workflows-modal__hours-btn {
  grid-column: 1 / 3;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.05);
  background-color: #292929;
  color: #ffffff;
  padding: 0.7rem 0;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize; }
  .workflows-modal__hours-btn:focus {
    outline: none; }

.workflows-modal__selection {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.workflows-modal__hours-estimation {
  font-size: 1rem;
  font-weight: 700;
  color: #282828;
  margin-bottom: 0.7rem;
  text-transform: capitalize; }

.workflows-modal__hours-require {
  font-size: 1rem;
  font-weight: 700;
  color: #282828;
  margin-bottom: 0.7rem;
  text-transform: capitalize; }

.workflows-modal__hours-option {
  position: relative; }
  .workflows-modal__hours-option::before {
    display: block;
    width: 8.4rem;
    background-color: #ffffff;
    border: 1px solid #acacac;
    border-radius: 4px;
    padding: 0.7rem 1.2rem;
    top: 0;
    left: 0;
    font-size: 1.2rem;
    font-weight: 400;
    color: #282828;
    position: absolute; }
  .workflows-modal__hours-option--1::before {
    content: "5 Hrs"; }
  .workflows-modal__hours-option--2::before {
    content: "- Hrs"; }
  .workflows-modal__hours-option::after {
    content: url(../img/option-icon.svg);
    position: absolute;
    top: 20%;
    left: 78%; }
  .workflows-modal__hours-option select {
    opacity: 0;
    background-color: #ffffff;
    border: 1px solid #acacac;
    border-radius: 4px;
    padding: 0.7rem 1.2rem; }
