// COLOR VARIABLES
$color-primary: #5FD855;

$color-secondary: #E73948;

$color-yellow: #FFE33F;

$color-black: #000000;

$color-white: #ffffff;

$color-gray: #282828;

$color-card-background: #EBECF0;

$color-nav: #fcfcfc;

$color-nav-heading: #1f1f1f;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: $color-gray;
}