// Float box
.float-box {
    position: fixed;
    top: 85vh;
    right: 5rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.float-button {
    color: $color-gray;
    font-size: 1.2rem;
    margin-bottom: 2rem;

    display: inline-flex;

    &__utility {
        display: inline-block;
        border: none;
        outline: none;

        &:focus {
            outline: none;
        }
    }

    &__left {
        background-color: $color-yellow;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 1rem 0.9rem;
        font-weight: 700;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    &__right {
        background-color: $color-gray-light;
        padding: 1rem 0.7rem;
        font-weight: 400;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}

.float-text {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba($color-white, 0.5);
}

// Card
.card-item {
    background-color: $color-card-background;
    padding: 1.8rem 1.1rem;
    border-radius: 1rem;
    opacity: 0.4;
    position: relative;
    transition: opacity 0.5s ease;

    &--1 {
        background-color: $color-black;
    }

    &--2 {
        opacity: 100%;
    }

    &--4 {
        position: relative;
        transition: opacity 0.5s ease;
    }

    &--7 {
        background-color: $color-yellow;
    }
}

// Normal state
.card-modifier {
    &--1 {
        position: static;
    }

    &--2 {
        position: absolute;
        top: 1.8rem;
        left: 1.1rem;
        right: 1.1rem;
        bottom: 1.8rem;
        opacity: 0;
    }

    &--3 {
        display: none;
        opacity: 0;
    }
}

// Hover state
.card-illumination:hover {
    opacity: 100%;
}

.card-illumination:hover .card-modifier--1 {
    opacity: 0;
    position: absolute;
    top: 1.8rem;
    left: 1.1rem;
    right: 1.1rem;
    bottom: 1.8rem;
    z-index: 100;
}

.card-illumination:hover .card-modifier--2 {
    opacity: 100%;
    z-index: 200;
}

.card-illumination:hover .card-modifier--3 {
    display: block;
}

// Card styling
.card {
    // Card schedule
    &__time {
        margin-bottom: 1.2rem;

        display: flex;
        justify-content: space-between;
    }

    &__day {
        font-weight: 700;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $color-gray;

        &--1 {
            color: $color-yellow;
        }
    }

    &__date {
        font-weight: 400;
        font-size: 1.2rem;
        color: $color-black;

        &--2 {
            color: $color-gray;
        }
    }

    &__task {
        margin-bottom: 1.2rem;
        font-weight: 400;
        font-size: 1rem;
        color: $color-black;

        &--1 {
            color: $color-gray;
        }

        &::after {
            content: "";
            display: block;
            margin-top: 1.2rem;
            height: 1px;
            width: 100%;
            background-color: $color-black;
            opacity: 0.05;
        }
    }

    // Card search
    &__search-box {
        display: flex;
        justify-content: space-between;

        position: relative;
    }

    &__search {
        width: 80%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        border-radius: 4px;
        background-color: $color-white;

        &-input {
            width: 80%;
            font-family: inherit;
            font-size: 1.2rem;
            font-weight: 400;
            text-transform: capitalize;
            border: none;

            background-color: transparent;

            &:focus {
                outline: none;
            }
        }

        &-button {
            width: 20%;

            border: none;
            background-color: transparent;

            img {
                height: 1.4rem;
                width: 1.4rem;
            }

            &:focus {
                outline: none;
            }
        }
    }

    &__sort-button {
        margin-left: 1rem;
        width: 20%;
        border: none;
        border-radius: 4px;
        padding: 0.9rem 1px;
        box-shadow: 0 2px 4px rgba($color-black, 0.25);
        background-color: $color-white;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        &:focus {
            outline: none;
        }

        &-img-box {
            img {
                display: block;
            }

            &--2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        &-img--2 {
            margin-top: 2px;
        }
    }

    // Card Heading
    &__status {
        margin-top: 1.2rem;
        font-weight: 700;
        font-size: 1.2rem;
        color: $color-gray;
    }

    // Card workflows
    &__workflows {
        height: 10rem;
        margin-top: 1.2rem;
        padding: 1.2rem 1.6rem;
        border-radius: 4px;
        background-color: $color-white;
        position: relative;

        &--1 {
            cursor: pointer;
        }

        &-top {
            &::after {
                content: "";
                display: block;
                margin: 1rem 0;
                height: 1px;
                width: 100%;
                background-color: $color-black;
                opacity: 5%;
            }

            &-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &-left {
                text-transform: capitalize;
                letter-spacing: -0.08px;
                line-height: 1.8rem;
            }

            &-heading {
                font-weight: 700;
                font-size: 1.2rem;
            }

            &-date {
                font-weight: 400;
                font-size: 1rem;
            }

            &-right {
                height: 1.4rem;
                width: 1.4rem;
                // background-color: $color-black;
                // clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
            }

            &-img {
                width: 100%;
            }
        }

        &-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-text {
                font-weight: 400;
                letter-spacing: -0.08px;
                text-align: right;

                &--1 {
                    font-size: 1rem;
                }

                &--2 {
                    font-size: 1.2rem;
                }
            }
        }

        &-btn-primary:link,
        &-btn-primary:visited {
            display: inline-block;
            padding: 0.4rem 0.8rem;
            font-size: 1.2rem;
            font-weight: 400;
            color: $color-white;
            background-color: $color-primary;
            border-radius: 4px;
            text-decoration: none;
        }

        &-btn-secondary:link,
        &-btn-secondary:visited {
            background-color: $color-secondary;
        }
    }

    // Card CTA button
    &__cta-button {
        display: block;
        margin-top: 1.2rem;
        width: 100%;
        padding: 0.7rem 0;
        border: none;
        border-radius: 4px;
        background-color: $color-white;
        color: $color-black;
        font-weight: 700;
        font-size: 1.2rem;

        &:focus {
            outline: none;
        }
    }
}
