// Card
.card-item {
    background-color: $color-card-background;
    padding: 1.8rem 1.1rem;
    border-radius: 1rem;
    opacity: 0.67;

    &--1 {
        background-color: $color-black;
    }

    &--2 {
        opacity: 100%;
    }

    &--7 {
        background-color: $color-yellow;
    }
}

.card {
    // Card schedule
    &__time {
        margin-bottom: 1.2rem;

        display: flex;
        justify-content: space-between;
    }

    &__day {
        font-weight: 700;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $color-gray;

        &--1 {
            color: $color-yellow;
        }
    }

    &__date {
        font-weight: 400;
        font-size: 1.2rem;
        color: $color-black;

        &--2 {
            color: $color-gray;
        }
    }

    &__task {
        margin-bottom: 1.2rem;
        font-weight: 400;
        font-size: 1rem;
        color: $color-black;

        &--1 {
            color: $color-gray;
        }

        &::after {
            content: "";
            display: block;
            margin-top: 1.2rem;
            height: 1px;
            width: 100%;
            background-color: $color-black;
            opacity: 0.05;
        }
    }

    // Card search
    &__search-box {
        display: flex;
        justify-content: space-between;
    }

    &__search {
        width: 80%;
        
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-radius: 4px;
        background-color: $color-white;

        &-input {
            width: 80%;
            font-family: inherit;
            font-size: 1.2rem;
            font-weight: 400;
            text-transform: capitalize;
            border: none;
            
            background-color: transparent;

            &:focus {
                outline: none;
            }
        }

        &-button {
            width: 20%;
            
            border: none;
            background-color: transparent;

            img {
                height: 1.4rem;
                width: 1.4rem;
            }

            &:focus {
                outline: none;
            }
        }
    }

    &__sort-button {
        margin-left: 1rem;
        width: 20%;
        border: none;
        border-radius: 4px;
        padding: .9rem 1px;
        box-shadow: 0 2px 4px rgba($color-black, .25);
        background-color: $color-white;

        display: flex;
        justify-content: center;
        align-items: center;

        &:focus {
            outline: none;
        }

        &-img-box {

            img {
                display: block;
            }
            
            &--2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        &-img--2 {
            margin-top: 2px;
        }

    }

    // Card Heading
    &__status {
        margin-top: 1.2rem;
        font-weight: 700;
        font-size: 1.2rem;
        color: $color-gray;
    }

    // Card workflows
    &__workflows {
        height: 10rem;
        margin-top: 1.2rem;
        padding: 1.2rem 1.6rem;
        border-radius: 4px;
        background-color: $color-white;

        &-top {
            &::after {
                content: "";
                display: block;
                margin: 1rem 0;
                height: 1px;
                width: 100%;
                background-color: $color-black;
                opacity: 5%;
            }

            &-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &-left {
                text-transform: capitalize;
                letter-spacing: -0.08px;
                line-height: 1.8rem;
            }

            &-heading {
                font-weight: 700;
                font-size: 1.2rem;
            }

            &-date {
                font-weight: 400;
                font-size: 1rem;
                
            }

            &-right {
                height: 1.4rem;
                width: 1.4rem;
                // background-color: $color-black;
                // clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
            }

            &-img {
                width: 100%;
            }

        }

        &-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-left {}

            &-right {}

            &-text {
                font-weight: 400;
                letter-spacing: -0.08px;
                text-align: right;

                &--1 {
                    font-size: 1rem;
                }

                &--2 {
                    font-size: 1.2rem;
                }
            }
        }

        &-btn-primary:link,
        &-btn-primary:visited {
            display: inline-block;
            padding: .4rem .8rem;
            font-size: 1.2rem;
            font-weight: 400;
            color: $color-white;
            background-color: $color-primary;
            border-radius: 4px;   
            text-decoration: none;
        }

        &-btn-secondary:link,
        &-btn-secondary:visited {
            background-color: $color-secondary;
        }
        

    }

    &__cta-button {
        display: block;
        margin-top: 1.2rem;
        width: 100%;
        padding: .7rem 0;
        border: none;
        border-radius: 4px;
        background-color: $color-white;
        color: $color-black;
        font-weight: 700;
        font-size: 1.2rem;
    }
}
