.container {
    max-width: 186rem;
    margin: auto;
    padding: 4.5rem 0 0 3rem;

    display: grid;
    grid-template-rows: 10.5rem min-content;
}

.header {
    // position: absolute;
    background-color: goldenrod;
    grid-row: 1 / 2;
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: 80% 20%;

    &__logo {
        margin-left: 10rem;
    }
}

.main-content {
    margin-top: 3rem;
    overflow: auto;
    white-space: nowrap;
}

.card-box {
    display: grid;
    grid-template-columns: repeat(6, minmax(25rem, 1fr));
    grid-gap: 2.6rem;
}